

/**TEXT definition**/
header >h1{
  font-family: Arial, serif;
  font-weight: 700;
  font-size: 40px
}

header >h2{
  font-family: Arial, serif;
  font-weight: 700;
  font-size: 24px
}

header >h3{
  font-family: Arial, serif;
  font-weight: 700;
  font-size: 17px
}

body {
  font-family: Arial, serif;
  font-weight: 200;
  font-size: 17px
}

p {
  font-family: Arial, serif;
  font-weight: 200;
  font-size: 17px
}

.footer {
  font-family: Arial, serif;
  font-weight: 200;
  font-size: 8px
}
/**TEXT definition**/
section:hover {
  border: 3px solid red;
}
