/*This is my styling sheet  portion*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');

 .fa-dog {
   color: pink;

 }

header >h1{
  font-family: Satisfy, serif;
  font-weight: 700;
  font-size: 70px
}
  main >p {
    font-family: sans-serif;
  }
 article > p{
   font-family: satisfy, serif;
 }


footer {
  font-weight:bold;
  font-style: oblique;
  font-size: 150%;
}
p {
  font-weight:100;
}




.box{
  height: 400px;
  width:300px;
  border:5px solid purple;
  background: lightgrey;
  padding: 25px;
  margin: 25px
}

.container{
  display: flex;
  height:400px
  background-color:pink;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-evenly;
  alignn-items:left;

}



 .flip {
   height:8rem;
   background-color: gray;
   padding:1rem;
   border: 5px solid gray;
   margin-bottom;1rem;
   margin-top;1rem;
 }



header {
  height:6%;
  background-color:gray;
  color:white;
  /*margin-left:13%;*/
  padding:3% 13%;
}

header h3 {
  font-style:italic;
}

nav {
  background-color: lightgray;
  color: darkgray;
  padding:1em 13%;
}


section {
  width:51%;
  margin-right:1%;
  padding-left: 13%;
  float:left;
}
  section:first-of-type h4 {
    color:blue;
  }
  section:first-of-type p {
  }
  section:first-of-type p a {
  }
  section h5 {
    color:blue;
    font-size:1em;
  }
  section:last-of-type h4 {
    color:blue;
  }
  section:last-of-type p {
  }
  section:last-of-type p a {
  }



sidebar {
  width:20%;
  float:right;
  display:inline-block;
  margin-right:5%;
  margin-bottom:2%;
}

footer {
  clear:both;
}
